/* 头像下拉菜单 */
/* 默认相对定位，块结构，引入头像图片 */
.myid {
    display: block;
    position: relative;
    width: 50px;
    right: 50px;
}

/* 图片宽度，圆形剪裁，指针样式*/
.myid img {
    width: 35px;
    clip-path: circle(50%);
    cursor: pointer;
}

/* 下拉菜单内容，及其定位 */
.myid-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75px auto;
    position: absolute;
    width: 270px;
    top: 45px;
    right: -50px;
    /* 内容框白色阴影 */
    /* box-shadow: 13px 12px 20px 3px #D3D3D3; */
    overflow: hidden;
    height: 0;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

/* 悬停时长度延申 */
.myid:hover .myid-content {
    height: 136px;
}

/* 定义内容框 设置阴影 */
.myid-c1 {
    display: grid;
    position: relative;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

/* 内容的第一栏设置 */
.myid-c1 .grid_mebu1 {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    right: 20px;
}

/* 按键左侧图片设置 */
.myid-c1 .grid_mebu1 button .zanImg {
    /* 空心图标 */
    background: url(../img/noZan.jpg);
    width: 30px;
    height: 30px;
    margin: 0;
}

/* 实心赞图标 */
.myid-c1 .grid_mebu1 button .zan_on {
    background: url(../img/isZan.jpg);
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin: 0;
}


/* 第一栏左侧头像图片样式 */
.myid-c1 .img img {
    width: 75px;
    clip-path: circle(43%);
    padding: 5px 5px;
}

/* 内容第一行的标题设置 */
.grid_c1 h3 {
    margin: 5px 0 5px 0;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 18px;
}

/* 按键设置 */
.grid_mebu1 button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    background-color: #faa2c1;
    color: #fff;
    font-size: 18px;
    font-weight: 1000;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    transition: background-color 0.6s;
}

/* 按键悬停时颜色变化 */
.myid-c1 .grid_mebu1 button:hover {
    background-color: #dd7694;
}

/* 点击时颜色改变 */
.myid-c1 .grid_mebu1 button:active {
    color: #dd0040;
}

/* 第二栏开始文字内容 */
.myid-c2 {
    width: 100%;
    height: auto;
}

/* 第二行链接栏 */
.myid-c2 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.myid-c2 ul li {
    width: 100%;
}

/* 清除链接格式 设置颜色 */
.myid-c2 a {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}

/* 在列表链接前后添加悬停箭头 */
.myid-c2 a::after {
    content: '\00AB';
    position: absolute;
    right: 50px;
    opacity: 0;
    transition: right 0.7s, opacity 0.7s;
    top: 8px;
}

.myid-c2 a::before {
    content: '\00bb';
    position: absolute;
    left: 50px;
    opacity: 0;
    top: 8px;
    transition: left 0.7s, opacity 0.7s;
}

/* 设置箭头过渡动画 */
.myid-c2 a:hover::after {
    right: 70px;
    opacity: 1;
}

.myid-c2 a:hover::before {
    left: 70px;
    opacity: 1;
}


/* 设置悬停链接时的颜色 */
.myid-c2 a:hover {
    color: #c57ca1;
}

/* 设置点击时颜色变化 */
.myid-c2 a:hover:active {
    color: #c50064;
}