@import url(main-content.css);
/* 页面基本设置 */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'yuyang','STXihei', 'FZShuTi', 'FZYaoTi', 'STxinwei';
    box-sizing: border-box;
    color: #FFF;
}

body,html{
    width: 100%;
    height: 100%;
}
body{
    min-height: 200px;
}

/* 鼠标选择的颜色样式 */
::selection {
    color: #fff;
    background-color: #f06595;
}

/* 引入外部字体 */
@font-face {
    font-family: yuyang;
    src: url(yuyang.ttf);
}

/* 设置背景图片 颜色蒙版 */
.background_img {
    background: linear-gradient(160deg, rgba(252, 194, 215, 0.4), transparent 80%),
        linear-gradient(250deg, rgba(50, 204, 188, 0.3), transparent 80%),
        linear-gradient(0deg, rgba(255, 206, 153, 0.5), transparent 40%),
        url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    /* 背景模糊 filter: blur(1px); */
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: -100;
}

/* 一般隐藏手机的h1格式 */
.iphone-h1{
    display: none;
}

/* 背景中央标题 */
.background_img h1 {
    position: absolute;
    top: 20%;
    text-align-last: justify;
    width: 100%;
    font-size: 250px;
    font-weight: 900;
    color: transparent;
    background:
        repeating-linear-gradient(-45deg, #fff, #fff 50px, transparent 50px, transparent 100px);
    -webkit-text-stroke: 1px #fff;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: tiaowen 20s linear infinite;
    opacity: 95%;
}

/* 中央标题动画设置 */
@keyframes tiaowen {
    100% {
        background-position: 1000px 0;
    }
}

/* 右下角文字内容定位 */
.text-box {
    position: absolute;
    right: 45px;
    bottom: 15%;
}

/* 右下角动态文字设置 */
.text-box h2 {
    font-size: xxx-large;
    font-weight: 1000;
    color: transparent;
    text-align-last: right;
    background:
        linear-gradient(45deg, #fbc7d4 10%, #fff0f6 30%,
        #c5f6fa 50%, #fff3bf 70%, #fbc7d4);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: h2-text 15s linear infinite alternate;
}

/* 动画设置 */
@keyframes h2-text {
    100% {
        background-position: 1500px 0;
    }
}

/* 页脚设置 */
footer{
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: 8px;
    line-height: 20px;
    color: #fff;
    background-image: radial-gradient(at 50% 0%,rgba(0, 0, 0, 0.2),transparent);
    border-top: 2px solid;
    border-image: linear-gradient(to left, #fbc7d4 ,#c5f6fa)30 30;
    animation: border-change 2s linear infinite alternate;
}