* {
	padding: 0;
	margin: 0;
}

::selection {
	color: #FFF;
	background-color: #ff6b81;
}

html,
body {
	height: 100%;
	overflow: auto;
	margin: 0;
	cursor: url("../images/cur/normal.cur"), auto;
}

main {
	position: relative;
	width: 100%;
	height: 54%;
	/* background-color: #cc8484; */
}

#bgid {
	transition: background-image 1.3s;
	font-family: Sans-serif;
	background: url("../images/bgs/bg11.jpg");
}

a {
	text-decoration: none;
	cursor: url("../images/cur/hand.cur"), auto;
}

input {
	cursor: url("../images/cur/texto.cur"), auto;
}

button {
	cursor: url("../images/cur/hand.cur"), auto;
}

li {
	list-style: none;
	display: inline-block;
}

.img {
	width: 1200px;
	height: 100px;
	position: relative;
	margin: 0 auto;
}

.head {
	background: url("../images/tips/头像.png") center no-repeat;
	background-size: 60px 60px;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 40%;
	margin-top: -30px;
	margin-left: -30px;
}

.img .clock {
	display: flex;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 45%;
	margin-top: -30px;
	margin-left: -30px;
}

.clock p {
	font-size: 50px;
	color: #fff;
	text-align: center;
	font-family: "Kanit";
	font-weight: 900;
	/* 文字阴影 实现3D效果 */
	text-shadow:
		0 1px 0 #deafaf,
		0 2px 0 #bda8a8,
		0 3px 0 #d8a1a1,
		0 4px 0 #d59999,
		0 5px 0 #d29292,
		0 6px 0 #cf8b8b,
		0 7px 0 #cc8484,
		0 8px 0 #c97d7d,
		0 0 5px rgba(231, 156, 156, 0.05),
		0 -1px 3px rgba(231, 156, 156, 0.2),
		0 9px 9px rgba(231, 156, 156, 0.3),
		0 12px 12px rgba(231, 156, 156, 0.3),
		0 15px 15px rgba(231, 156, 156, 0.3);
}

header {
	width: 1200px;
	height: 30%;
	margin: 0 auto;
	margin-top: 10px;
	background-color: transparent;
	transition: all 0.7s;
	/* background-color: #d1b91f; */
}

.tabbar {
	/* 弹性布局 水平+垂直居中 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* 相对定位 */
	position: relative;
	width: 350px;
	height: 70px;
	margin: 0 auto;
}

.tabbar ul {
	/* 让li横向撑开 */
	display: flex;
}

.tabbar ul li {
	width: 70px;
	height: 70px;
	margin: 0 15px;
	position: relative;
	z-index: 1;
}

.tabbar ul li a {
	/* 弹性布局 居中 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* 垂直排列 */
	flex-direction: column;
	text-align: center;
	color: #fff;
}

.tabbar ul li a .icon {
	width: 50px;
	height: 50px;
	line-height: 70px;
	/* 设置过渡 */
	transition: 0.5s;
}

.tabbar ul li.active a .icon {
	/* 图标上移 */
	transform: translateY(-10px);
	background-size: 35px;
}

.item:nth-child(1) .icon {
	background: url("../images/tips/主页1.svg") no-repeat center;
	background-size: 50px;
	transform: translateY(10px);
}

.item:nth-child(2) .icon {
	background: url("../images/tips/切换.svg") no-repeat center;
	background-size: 50px;
	transform: translateY(10px);
}

.item:nth-child(3) .icon {
	background: url("../images/tips/爱心.svg") no-repeat center;
	background-size: 50px;
	transform: translateY(10px);
}

.item:nth-child(4) .icon {
	background: url("../images/tips/切换.svg") no-repeat center;
	background-size: 50px;
	transform: translateY(10px);
}

.item:nth-child(5) .icon {
	background: url("../images/tips/切换.svg") no-repeat center;
	background-size: 50px;
	transform: translateY(10px);
}

.tabbar ul li a .text {
	/* 绝对定位 */
	position: absolute;
	font-size: 12px;
	bottom: 13px;
	/* 设置过渡 */
	transition: 0.5s;
	/* 默认隐藏 */
	transform: scale(0);
}

.tabbar ul li.active a .text {
	/* 选中,文字显示 */
	transform: scale(1);
}

.active-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	/* --c,--cc为CSS中的自定义属性,通过var函数可对其调用 */
	background-color: var(--c);
	box-shadow: 0 10px 15px var(--cc);
	transition: 0.5s;
}

/* 分别为每一个.active-bg设置颜色,阴影,位移 */
.tabbar ul li:nth-child(1).active~.active-bg {
	--c: #ffa502;
	--cc: #ffa50299;
	left: -60px;
}

.tabbar ul li:nth-child(2).active~.active-bg {
	--c: #ff6348;
	--cc: #ff634899;
	left: calc(1 * 40px);
}

.tabbar ul li:nth-child(3).active~.active-bg {
	--c: #2ed573;
	--cc: #2ed57399;
	left: calc(2 * 70px);
}

.tabbar ul li:nth-child(4).active~.active-bg {
	--c: #1e90ff;
	--cc: #1e90ff99;
	left: calc(3 * 80px);
}

.tabbar ul li:nth-child(5).active~.active-bg {
	--c: #ff6b81;
	--cc: #ff6b8199;
	left: calc(5 * 68px);
}

.leftbox,
.rightbox {
	float: left;
	display: inline-block;
	width: 296px;
	height: 40px;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 40px;
	transition: all 30s;
	transform: scale(0);
}

.leftbox em {
	width: 40px;
	height: 40px;
	background: url("../images/tips/clock.svg") center no-repeat;
	background-size: 40px 40px;
	float: left;
	display: inline-block;
}

#lttime {
	float: left;
	display: inline-block;
	width: 200px;
	height: 40px;
	padding-left: 30px;
	line-height: 40px;
}

.rightbox {
	text-align: center;
	text-indent: 20px;
}

header:hover .leftbox,
header:hover .rightbox {
	transform: scale(1);
	transition: all .3s;
}

.midbox {
	float: left;
	display: inline-block;
	background: transparent;
	width: 600px;
	height: 40px;
}

.midbox form {
	width: 100%;
	height: 40px;
}

#seaid {
	float: left;
	width: 550px;
	height: 40px;
	outline: none;
	border: none;
	font-size: 18px;
	text-indent: 1em;
	border-radius: 50px;
	background: rgba(255, 255, 255, .4);
}

#subid {
	float: left;
	width: 50px;
	height: 36px;
	outline: none;
	background: transparent;
	border: 0;
	font-size: 18px;
	background: url("../images/tips/搜索.svg") no-repeat center;
	background-position-y: 4px;
	cursor: url("../images/cur/hand.cur"), auto;
}

.container {
	width: 70%;
	margin: 0 auto;
	/* margin-top: 40px; */
	position: relative;
}

.container ul {
	width: 100%;
	height: 100%;
}

.container ul li {
	position: relative;
	margin: 20px;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
	text-align: center;
}

.container ul li a img:hover {
	transform: translate(-10px, -25px);
	transition: all 0.3s;
	height: 70px;
	width: 70px;
}

.container ul li a img {
	position: absolute;
	margin: 5px;
	width: 48px;
	height: 48px;
	opacity: 1;
}

footer {
	position: fixed;
	width: 100%;
	height: 15%;
	bottom: 0;
	text-align: center;
	z-index: 10;
	min-width: 1000px;
	/* background-color: #1e90ff; */
}

.footer_box {
	position: absolute;
	bottom: -60px;
	width: 100%;
	/* height: 10px; */
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.topbtn,
.note {
	transition: all .3s;
	transform: translateY(50px);
	border-radius: 10px;
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	right: 40px;
	text-align: center;
	outline: none;
	border: 0;
	font-size: 20px;
	line-height: 60px;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
}

.note {
	border-radius: 10px;
	left: 40px;
}

.menu_butt {
	width: 45px;
	height: 45px;
	transition: all .3s;
	transform: translateY(8px);
}

.note:hover .menu_butt {
	width: 60px;
	height: 60px;
	transition: all .3s;
	transform: translateY(0px);
}

.note:active .menu_butt {
	width: 40px;
	height: 40px;
	transition: none;
	transform: translateY(11px);
}

.direction_img {
	--direction_img_size: 60px;
	width: var(--direction_img_size);
	height: var(--direction_img_size);
	background: url("../images/tips/向上.svg") no-repeat center;
	background-size: var(--direction_img_size) var(--direction_img_size);
	transition: all .3s;
}

.topbtn:hover .direction_img {
	background-size: 75px 75px;
}

.topbtn:active .direction_img{
	background-size: 60px 60px;
	transition: all 0s;
}

.topbtn_nocursor{
	cursor: url("../images/cur/no.cur"), auto;
}

.direction_img_change{
	transition: all .3s;
	transform: rotate(180deg);
}

footer:hover .note,
footer:hover .topbtn {
	transform: translateY(-100px);
	transition: all .3s;
}

.static_footbtn {
	transform: translateY(-100px);
	transition: all .3s;
}

.footul {
	/* position: absolute; */
	height: 60px;
	width: 950px;
	/* left: 18.8%; */
	list-style: none;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 30px;
	transition: all .4s;
	transform: translateY(20px);
}

footer ul li img {
	width: 45px;
	height: 45px;
	margin: 5px;
}

footer:hover .footul {
	transform: translateY(-70px);
	transition: all .4s;
}

.static_footul {
	transform: translateY(-70px);
	transition: all .3s;
}

footer ul li {
	/* float: left; */
	width: 60px;
	height: 60px;
	margin-top: 2px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.footul li:hover {
	transform: scale(1.7);
	transform-origin: 50% 100%;
	transition: all .3s;
}


.jiajian {
	--jiajian: 50px;
	border-radius: 50%;
	border: 3px double #d48db3;
	transform: translate(27px, -28px);
	width: var(--jiajian);
	height: var(--jiajian);
}

.jiajian:hover {
	transform: translate(29px, -40px) scale(1.2);
	transition: all 0.3s;
}

.menu {
	position: absolute;
	top: -240px;
	height: 450px;
	transform: scale(0);
	background-color: rgba(0, 0, 0, .5);
	z-index: 98;
	border-radius: 50px;
	transition: all .3s;
	/* border: 100px solid transparent; */
	border-image-source: url("../images/bd_bgs/上下金花边.png");
	border-image-slice: 1000 0 1000 0;
	border-image-width: 0 0px 0 0px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch;
}

.menu_active {
	transform: scale(1) translateY(180px);
	transition: transform .3s, border-image-outset .7s, border-image-width .7s;
	border-image-width: 200px 0px 200px 0px;
	border-image-outset: 40px 0px 40px 0px;
}

.menu ul {
	top: 20px;
	color: #fff;
	width: 670px;
}

.menu_wai {
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	display: none;
	justify-content: center;
	z-index: 10;
	/* background-color: #de4ea4; */
}

.menu ul li {
	color: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	margin: 25px 51px;
}

.menu p {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 57px;
	word-spacing: 35px;
	/* margin: 20px 0px; */
	font-family: 'dingding';
	color: #d1b91f;
	text-shadow: 4px 1px 12px #fff;
	-webkit-text-stroke: 0.8px #fff;
	line-height: 70px;
}

@font-face {
	font-family: 'dingding';
	src: url("../DingDing.otf");
}

.menu button {
	position: relative;
	border-radius: 20px;
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 0;
	font-size: 20px;
	line-height: 60px;
	background-color: transparent;
	color: #fff;
}

.menu button img {
	position: absolute;
	width: 50px;
	height: 50px;
	transform: translate(-25px, -25px);
}

.menu button:hover img {
	width: 40px;
	height: 40px;
	transition: all .3s;
	transform: translate(-20px, -19px);
}

.DIYbds {
	position: absolute;
	background: url("../images/bd_bgs/选择框.svg") no-repeat center;
	width: 65px;
	height: 65px;
	transform: translate(-33px, -33px) scale(1.5);
	visibility: hidden;
}

.menu button:hover .DIYbds {
	transform: translate(-33px, -31.2px) scale(0.8);
	visibility: visible;
	transition: all .2s;
}

.menu button:active .DIYbds {
	transform: translate(-33px, -31.2px) scale(0.7);
	transition: all 0s;
}

.bgs_list ul {
	top: 20px;
	width: 670px;
}

.bgs_list ul li {
	width: 60px;
	height: 60px;
	text-align: center;
	margin: 12px 12px;
}

.bgs_list button {
	position: relative;
	border-radius: 20px;
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 0;
	font-size: 20px;
	line-height: 60px;
	background-color: transparent;
}

#bgs_list ul {
	padding: 0px 0px;
	margin: 0px 0px;
	height: 340px;
	overflow-y: auto;
}

#bgs_list li {
	margin: 0;
	width: 200px;
	height: 110px;
	transform: translateX(35px)
}

#bgs_list img {
	width: 180px;
	height: 90px;
}

.addpop {
	margin-top: -50px;
	width: 670px;
	height: 440px;
	background-color: rgba(0, 0, 0, .5);
	z-index: 98;
	border-radius: 50px;
	transition: all .3s;
	border-image-source: url("../images/bd_bgs/上下金花边.png");
	border-image-slice: 1000 0 1000 0;
	border-image-width: 0 0px 0 0px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch;
}

.addpop_active {
	border-image-width: 200px 0px 200px 0px;
	border-image-outset: 40px 0px 40px 0px;
	transition: transform .3s, border-image-outset .7s, border-image-width .7s;
}

.addpop_box {
	transition: all .3s;
	transform: scale(0);
	width: 100%;
	height: 390px;
	position: absolute;
	top: 0px;
	/* left: -20px; */
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #FFF; */
}

.addpop_box_active {
	transition: all .3s;
	transform: scale(1);
}

.addpop_box p {
	width: 100%;
	text-align: center;
	font-size: 57px;
	word-spacing: 35px;
	font-family: 'dingding';
	color: #d1b91f;
	text-shadow: 4px 1px 12px #fff;
	-webkit-text-stroke: 0.8px #fff;
	line-height: 70px;
}

.addpop_img {
	width: 100px;
	height: 100px;
	background-color: #c97d7d;
}

.addpop_form {
	font-family: 'dingding';
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 45px;
	color: #fff;
}

.webside_url_text {
	width: 200px;
	height: 20px;
	transform: translateY(20px);
	background-color: rgba(224, 224, 224, 0.748);
	border: transparent;
	border-radius: 20px;
}

.submit_button {
	transition: all .3s;
	cursor: pointer;
	font-family: 'dingding';
	width: 100px;
	height: 50px;
	border-radius: 20px;
	border: solid 1px #5f5e5e44;
	background: linear-gradient(180deg, #fff886, #f072b6);
	color: #fff;
	text-shadow: 4px 1px 12px #fff;
	font-size: 40px;
	-webkit-text-stroke: 0.8px #fff;
	text-align: center;
	line-height: 0px;
}

.submit_button:active {
	background: #fff886;
}

.submit_button:hover {
	transition: all .3s;
	font-size: 55px;
}

.submit_box {
	position: absolute;
	bottom: 0px;
	width: 350px;
	height: 50px;
	display: flex;
	justify-content: space-around;
}

.operate_mark {
	transition: all .3s;
	--operate_mark: 30px;
	position: absolute;
	top: -25px;
	right: -45px;
	width: var(--operate_mark);
	height: var(--operate_mark);
	animation: operate_mark 1s infinite alternate;
	background-image: url("../images/tips/图标删减.png");
	background-size: var(--operate_mark) var(--operate_mark);
	opacity: 0;
}

@keyframes operate_mark {
	0% {
		transform: rotate(-20deg);
	}

	100% {
		transform: rotate(20deg);
	}
}

.operate_mark:hover {
	--operate_mark: 35px;
	transform: scale(1.5);
	transition: all .3s;
	top: -30px;
	right: -47px;
}